<div>
<div class="container">

    <header>

        <h1>Welcome to <strong>Pets Glitz</strong></h1>
        <h2>A dog is the only one on earth who loves u more than he loves himself… </h2>

        <div class="support-note"><!-- let's check browser support with modernizr -->
            <span class="no-cssanimations">CSS animations are not supported in your browser</span>
            <span class="no-csstransforms">CSS transforms are not supported in your browser</span>
            <span class="no-csstransforms3d">CSS 3D transforms are not supported in your browser</span>
            <span class="no-csstransitions">CSS transitions are not supported in your browser</span>
            <span class="no-generatedcontent">CSS Generated Content is not supported in your browser</span>
            <span class="note-ie">Sorry, only modern browsers.</span>
        </div>

    </header>

    <div class="main">

        <div class="fs-slider" id="fs-slider">
            <figure>
                <img src="img/beagles.jpg" alt="image04" />
                <figcaption>
                    <h3>Beagles</h3>
                </figcaption>
            </figure>
          <figure>
            <img src="img/boxer.jpg" alt="image04" />
            <figcaption>
              <h3>Boxer</h3>
            </figcaption>
          </figure>
          <figure>
            <img src="img/dalmatian.jpg" alt="image04" />
            <figcaption>
              <h3>Dalmatian</h3>
            </figcaption>
          </figure>
          <figure>
            <img src="img/doberman.jpg" alt="image04" />
            <figcaption>
              <h3>Doberman</h3>
            </figcaption>
          </figure>
          <figure>
            <img src="img/German-shepherd.jpg" alt="image04" />
            <figcaption>
              <h3>German Shepherd</h3>
            </figcaption>
          </figure>
          <figure>
            <img src="img/golden-retriever.jpg" alt="image04" />
            <figcaption>
              <h3>Golden Retriever</h3>
            </figcaption>
          </figure>
          <figure>
            <img src="img/labrador-retriever.jpg" alt="image04" />
            <figcaption>
              <h3>Labrador Retriever</h3>
            </figcaption>
          </figure>
          <figure>
            <img src="img/pug.jpg" alt="image04" />
            <figcaption>
              <h3>Pug</h3>
            </figcaption>
          </figure>
          <figure>
            <img src="img/rettweiler.jpg" alt="image04" />
            <figcaption>
              <h3>Rettweiler</h3>
            </figcaption>
          </figure>
          <figure>
            <img src="img/saint-bernard.jpg" alt="image04" />
            <figcaption>
              <h3>Saint Bernard</h3>
            </figcaption>
          </figure>
          <figure>
            <img src="img/siberian-husky.jpg" alt="image04" />
            <figcaption>
              <h3>Siberian Husky</h3>
            </figcaption>
          </figure>

        </div><!-- /fs-slider -->

    </div>

</div>
<script type="text/javascript">
  $(function() {

    $( '#fs-slider' ).imgslider();

  });
</script>
</div>
