<div>
<div class="container">

    <header>

        <h1>Welcome to <strong>Food Plaza</strong></h1>
        <h2>Our food plaza is committed to serving you healthy, flavorful, and nutritious food</h2>

        <div class="support-note"><!-- let's check browser support with modernizr -->
            <span class="no-cssanimations">CSS animations are not supported in your browser</span>
            <span class="no-csstransforms">CSS transforms are not supported in your browser</span>
            <span class="no-csstransforms3d">CSS 3D transforms are not supported in your browser</span>
            <span class="no-csstransitions">CSS transitions are not supported in your browser</span>
            <span class="no-generatedcontent">CSS Generated Content is not supported in your browser</span>
            <span class="note-ie">Sorry, only modern browsers.</span>
        </div>

    </header>

    <div class="main">

        <div class="fs-slider" id="fs-slider">
            <figure>
                <img src="img/pita.JPG" alt="image04" />
                <figcaption>
                    <h3>Pitza</h3>
                    <p>There's no better feeling in the world than a warm pizza box on your lap.</p>
                </figcaption>
            </figure>

            <figure>
                <img src="img/chinese.jpg" alt="image04" />
                <figcaption>
                    <h3>Real Chinese Dishes</h3>
                    <p>Does it get any more refreshing than the taste of complete Chinese meal...? Nope... We didn’t think so.</p>
                </figcaption>
            </figure>

            <figure>
                <img src="img/passion-fruit.jpg" alt="image05" />
                <figcaption>
                    <h3>Passion fruit miopo</h3>
                    <p>ADesserts in a mug, cup or glass are the best way to ensure you’re only eating one serving. That is, unless you eat more than one… </p>
                </figcaption>
            </figure>
            <figure>
                <img src="img/poached-mango.jpeg" alt="image05" />
                <figcaption>
                    <h3>Poached mango</h3>
                    <p>It’s truly surprising how amazing raspberries and mango taste together. If you haven’t tested out yet, you need to start!</p>
                </figcaption>
            </figure>

        </div><!-- /fs-slider -->

    </div>

</div>
<script type="text/javascript">
  $(function() {

    $( '#fs-slider' ).imgslider();

  });
</script>
</div>